.body{
    min-width: 2000pc;
}

.jumbotro{
    padding-top: 2rem;
    background-color: #e2edff;
}
.jumbotro{
    text-align: center;
}

.about{
    text-align: center;
}
.form{
    text-align: center;
}